.todoItem {
    outline: 1px solid darkred;
    display: flex;
    flex-flow: row nowrap;
    /*align-items: center;*/
}
.todoItem > input[type=checkbox] {
    margin-top: 4px;
}
.todoItem > * {
    margin-right: var(--gap);
}
.todoItem > *:last-child {
    margin-right: 0;
}
