.todoList {
    padding: var(--gap);
    border: 1px solid var(--clrLineGray);
    border-radius: 8px;
    width: 269px;
    height: 269px;
    display: flex;
    flex-flow: column nowrap;
}

.todoList__header {
    margin-bottom: var(--gap);
}

.todoList > *:first-child {margin-top: 0;}
.todoList > *:last-child {margin-bottom: 0;}

.todoList__items-wrapper {
    overflow-y: auto;
    margin-bottom: var(--gap);
}
.todoItem {
    margin-bottom: var(--gap);
}
.todoItem:last-child {
    margin-bottom: 0;
}
.todoList__pusher {
    flex: 1 0 auto;
}
.todoList__taskCreator {

}
