.todoListHolder {
    outline: 1px solid darkred;
    display: flex;
    flex-flow: row nowrap;
    width: 300px;
}
.calendar {
    outline: 1px solid green;
    margin-right: var(--gap);
}

/*.todoListHolder .calendar {*/
/*    outline: 1px solid green;*/
/*}*/
/*.todoListHolder .todoList {*/
/*    outline: 1px solid green;*/
/*}*/
